<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <script>L_PREFER_CANVAS = false; L_NO_TOUCH = false; L_DISABLE_3D = false;</script>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.2.0/dist/leaflet.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.2.0/dist/leaflet.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css" />
    <link rel="stylesheet" href="https://rawgit.com/python-visualization/folium/master/folium/templates/leaflet.awesome.rotate.css" />
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    
            <style> #map_3567193a3f4a4f9e81e4be91b25c6e26 {
                position : relative;
                width : 100.0%;
                height: 100.0%;
                left: 0.0%;
                top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_3567193a3f4a4f9e81e4be91b25c6e26" ></div>
        
</body>
<script>    
    

            
                var bounds = null;
            

            var map_3567193a3f4a4f9e81e4be91b25c6e26 = L.map(
                                  'map_3567193a3f4a4f9e81e4be91b25c6e26',
                                  {center: [0,0],
                                  zoom: 1,
                                  maxBounds: bounds,
                                  layers: [],
                                  worldCopyJump: false,
                                  crs: L.CRS.EPSG3857
                                 });
            
        
    
            var tile_layer_f10a6b180d914250ac1d93f3e4a01c2d = L.tileLayer(
                'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png',
                {
  "attribution": null,
  "detectRetina": false,
  "maxZoom": 18,
  "minZoom": 1,
  "noWrap": false,
  "subdomains": "abc"
}
                ).addTo(map_3567193a3f4a4f9e81e4be91b25c6e26);
        
    

            var marker_2d4a9e58690b4d6ea7df939efe2aec81 = L.marker(
                [42.3604823,-71.0595678],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_3567193a3f4a4f9e81e4be91b25c6e26);
            
    

                var custom_icon_6c2f38d8c9a94301b0e3dc145996e3f7 = L.icon({
                    iconUrl: 'http://pbs.twimg.com/profile_images/929547386292236288/q-DjSVIJ_normal.jpg',
                    iconSize: [28,30],
                    

                    
                    
                    

                    
                    });
                marker_2d4a9e58690b4d6ea7df939efe2aec81.setIcon(custom_icon_6c2f38d8c9a94301b0e3dc145996e3f7);
            
    
            var popup_29e32347f39b41f8b0491f51e5f18be7 = L.popup({maxWidth: '300'});

            
                var html_5555a0459423441487480587ff8d0502 = $('<div id="html_5555a0459423441487480587ff8d0502" style="width: 100.0%; height: 100.0%;">𝕋𝕒𝕪𝕝𝕠𝕣 ℕ𝕖𝕤𝕤 ⚾️</div>')[0];
                popup_29e32347f39b41f8b0491f51e5f18be7.setContent(html_5555a0459423441487480587ff8d0502);
            

            marker_2d4a9e58690b4d6ea7df939efe2aec81.bindPopup(popup_29e32347f39b41f8b0491f51e5f18be7);

            
        
    

            var marker_d2dc2e601163404b8db2d58202ce7df7 = L.marker(
                [26.1223084,-80.1433786],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_3567193a3f4a4f9e81e4be91b25c6e26);
            
    

                var custom_icon_7c2e9ad09f674e458ecb8dcb9193b11c = L.icon({
                    iconUrl: 'http://pbs.twimg.com/profile_images/531468954951499776/U6D94p7A_normal.jpeg',
                    iconSize: [28,30],
                    

                    
                    
                    

                    
                    });
                marker_d2dc2e601163404b8db2d58202ce7df7.setIcon(custom_icon_7c2e9ad09f674e458ecb8dcb9193b11c);
            
    
            var popup_a6d1ae36837546f494c497e461151519 = L.popup({maxWidth: '300'});

            
                var html_8fae2932ea0341f999f801e1f2f7b197 = $('<div id="html_8fae2932ea0341f999f801e1f2f7b197" style="width: 100.0%; height: 100.0%;">Gary Spaulding</div>')[0];
                popup_a6d1ae36837546f494c497e461151519.setContent(html_8fae2932ea0341f999f801e1f2f7b197);
            

            marker_d2dc2e601163404b8db2d58202ce7df7.bindPopup(popup_a6d1ae36837546f494c497e461151519);

            
        
    

            var marker_d861525d1ea54697896774016386ca4f = L.marker(
                [40.0757384,-74.4041622],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_3567193a3f4a4f9e81e4be91b25c6e26);
            
    

                var custom_icon_ff6693ef4a32410e9420779d0bde550e = L.icon({
                    iconUrl: 'http://pbs.twimg.com/profile_images/740363077527478273/gfJj0MAv_normal.jpg',
                    iconSize: [28,30],
                    

                    
                    
                    

                    
                    });
                marker_d861525d1ea54697896774016386ca4f.setIcon(custom_icon_ff6693ef4a32410e9420779d0bde550e);
            
    
            var popup_4845510a6860495690e292ebfae2861b = L.popup({maxWidth: '300'});

            
                var html_6260ec62971c4140be393d121424da8e = $('<div id="html_6260ec62971c4140be393d121424da8e" style="width: 100.0%; height: 100.0%;">NJSENSASIAN&#39;S CARDS</div>')[0];
                popup_4845510a6860495690e292ebfae2861b.setContent(html_6260ec62971c4140be393d121424da8e);
            

            marker_d861525d1ea54697896774016386ca4f.bindPopup(popup_4845510a6860495690e292ebfae2861b);

            
        
    

            var marker_c879aa6862864bb0b67aab58177464c9 = L.marker(
                [41.4899827,-71.3137707],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_3567193a3f4a4f9e81e4be91b25c6e26);
            
    

                var custom_icon_eac682a131a74fad88a60389d5d8dc26 = L.icon({
                    iconUrl: 'http://pbs.twimg.com/profile_images/962054716942241792/9t6xIA-y_normal.jpg',
                    iconSize: [28,30],
                    

                    
                    
                    

                    
                    });
                marker_c879aa6862864bb0b67aab58177464c9.setIcon(custom_icon_eac682a131a74fad88a60389d5d8dc26);
            
    
            var popup_152369649321461e9a61f0690b89d927 = L.popup({maxWidth: '300'});

            
                var html_59d1be84768f44cf8126bd2d361a7e64 = $('<div id="html_59d1be84768f44cf8126bd2d361a7e64" style="width: 100.0%; height: 100.0%;">feline_fox30🇺🇸🇨🇲🇳🇬</div>')[0];
                popup_152369649321461e9a61f0690b89d927.setContent(html_59d1be84768f44cf8126bd2d361a7e64);
            

            marker_c879aa6862864bb0b67aab58177464c9.bindPopup(popup_152369649321461e9a61f0690b89d927);

            
        
    

            var marker_460d01099c294540a55867c702ac3696 = L.marker(
                [34.054935,-118.244476],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_3567193a3f4a4f9e81e4be91b25c6e26);
            
    

                var custom_icon_02596e72475840adac7519bb38de88ed = L.icon({
                    iconUrl: 'http://pbs.twimg.com/profile_images/908155150023274497/iQgy3GBS_normal.jpg',
                    iconSize: [28,30],
                    

                    
                    
                    

                    
                    });
                marker_460d01099c294540a55867c702ac3696.setIcon(custom_icon_02596e72475840adac7519bb38de88ed);
            
    
            var popup_fb15608bdb3046098fc56423b986faf0 = L.popup({maxWidth: '300'});

            
                var html_906325a59c384bdbbbd106b04758130c = $('<div id="html_906325a59c384bdbbbd106b04758130c" style="width: 100.0%; height: 100.0%;">Robyn Harney</div>')[0];
                popup_fb15608bdb3046098fc56423b986faf0.setContent(html_906325a59c384bdbbbd106b04758130c);
            

            marker_460d01099c294540a55867c702ac3696.bindPopup(popup_fb15608bdb3046098fc56423b986faf0);

            
        
    

            var marker_87a229c278d64520bf8eadb3ebd9b82a = L.marker(
                [34.054935,-118.244476],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_3567193a3f4a4f9e81e4be91b25c6e26);
            
    

                var custom_icon_68b04389e6d04a1da05fdd9b0fe3e7f5 = L.icon({
                    iconUrl: 'http://pbs.twimg.com/profile_images/2896791739/43066b8629b170c26f6944e43db3c26f_normal.png',
                    iconSize: [28,30],
                    

                    
                    
                    

                    
                    });
                marker_87a229c278d64520bf8eadb3ebd9b82a.setIcon(custom_icon_68b04389e6d04a1da05fdd9b0fe3e7f5);
            
    
            var popup_c6fa3200fee84c0bae74e81716be2914 = L.popup({maxWidth: '300'});

            
                var html_d18864304d1a4e468754e6f884eb61c4 = $('<div id="html_d18864304d1a4e468754e6f884eb61c4" style="width: 100.0%; height: 100.0%;">Rachel Bloom</div>')[0];
                popup_c6fa3200fee84c0bae74e81716be2914.setContent(html_d18864304d1a4e468754e6f884eb61c4);
            

            marker_87a229c278d64520bf8eadb3ebd9b82a.bindPopup(popup_c6fa3200fee84c0bae74e81716be2914);

            
        
    

            var marker_30fdd95d807f4f63b66326a0bd6582ce = L.marker(
                [32.7139711,-117.1459633],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_3567193a3f4a4f9e81e4be91b25c6e26);
            
    

                var custom_icon_4b7957506e764914b180efcf4e157d86 = L.icon({
                    iconUrl: 'http://pbs.twimg.com/profile_images/910033139363282944/4DOf3FqS_normal.jpg',
                    iconSize: [28,30],
                    

                    
                    
                    

                    
                    });
                marker_30fdd95d807f4f63b66326a0bd6582ce.setIcon(custom_icon_4b7957506e764914b180efcf4e157d86);
            
    
            var popup_bc180b07f7894184bba1b227bb08707d = L.popup({maxWidth: '300'});

            
                var html_bf89b49eb8b644f18141150e66e2fbac = $('<div id="html_bf89b49eb8b644f18141150e66e2fbac" style="width: 100.0%; height: 100.0%;">Ankiel Ranon</div>')[0];
                popup_bc180b07f7894184bba1b227bb08707d.setContent(html_bf89b49eb8b644f18141150e66e2fbac);
            

            marker_30fdd95d807f4f63b66326a0bd6582ce.bindPopup(popup_bc180b07f7894184bba1b227bb08707d);

            
        
    

            var marker_6a92bbd7541f4cf68f639caf96539603 = L.marker(
                [32.753177,-97.3327459],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_3567193a3f4a4f9e81e4be91b25c6e26);
            
    

                var custom_icon_e564ebcd0b2a4f0d8117a0e5f164a5a0 = L.icon({
                    iconUrl: 'http://pbs.twimg.com/profile_images/951332214180065280/UI4Nomha_normal.jpg',
                    iconSize: [28,30],
                    

                    
                    
                    

                    
                    });
                marker_6a92bbd7541f4cf68f639caf96539603.setIcon(custom_icon_e564ebcd0b2a4f0d8117a0e5f164a5a0);
            
    
            var popup_17bbe293fb2946e5b3c7bebfeb7a82b8 = L.popup({maxWidth: '300'});

            
                var html_750a5fa7f9f3411db7f4aaa09dc41447 = $('<div id="html_750a5fa7f9f3411db7f4aaa09dc41447" style="width: 100.0%; height: 100.0%;">Em☺️</div>')[0];
                popup_17bbe293fb2946e5b3c7bebfeb7a82b8.setContent(html_750a5fa7f9f3411db7f4aaa09dc41447);
            

            marker_6a92bbd7541f4cf68f639caf96539603.bindPopup(popup_17bbe293fb2946e5b3c7bebfeb7a82b8);

            
        
    

            var marker_5f2c6cb88af8425285d577ba8cd29a7e = L.marker(
                [34.054935,-118.244476],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_3567193a3f4a4f9e81e4be91b25c6e26);
            
    

                var custom_icon_7707df1a54bc462a847787f64bd25262 = L.icon({
                    iconUrl: 'http://pbs.twimg.com/profile_images/852624881481011200/TTsXOSlg_normal.jpg',
                    iconSize: [28,30],
                    

                    
                    
                    

                    
                    });
                marker_5f2c6cb88af8425285d577ba8cd29a7e.setIcon(custom_icon_7707df1a54bc462a847787f64bd25262);
            
    
            var popup_5c572c9f799842ec8ad4dea548e98f17 = L.popup({maxWidth: '300'});

            
                var html_b916a282d781486b823c1fd396097870 = $('<div id="html_b916a282d781486b823c1fd396097870" style="width: 100.0%; height: 100.0%;">Kerri Doherty</div>')[0];
                popup_5c572c9f799842ec8ad4dea548e98f17.setContent(html_b916a282d781486b823c1fd396097870);
            

            marker_5f2c6cb88af8425285d577ba8cd29a7e.bindPopup(popup_5c572c9f799842ec8ad4dea548e98f17);

            
        
    

            var marker_e81cc460b2d04d1c9eac99bf3ea0d218 = L.marker(
                [34.0143928,-117.898451],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_3567193a3f4a4f9e81e4be91b25c6e26);
            
    

                var custom_icon_194517aee3aa49dfb18d852375cc4b1e = L.icon({
                    iconUrl: 'http://pbs.twimg.com/profile_images/837116668358766592/RkhoN3fc_normal.jpg',
                    iconSize: [28,30],
                    

                    
                    
                    

                    
                    });
                marker_e81cc460b2d04d1c9eac99bf3ea0d218.setIcon(custom_icon_194517aee3aa49dfb18d852375cc4b1e);
            
    
            var popup_ac97c945dc424ea29cd98d43c004ffa0 = L.popup({maxWidth: '300'});

            
                var html_df79bb0b619241f8b7a15fa818b0288d = $('<div id="html_df79bb0b619241f8b7a15fa818b0288d" style="width: 100.0%; height: 100.0%;">DirectFire Media</div>')[0];
                popup_ac97c945dc424ea29cd98d43c004ffa0.setContent(html_df79bb0b619241f8b7a15fa818b0288d);
            

            marker_e81cc460b2d04d1c9eac99bf3ea0d218.bindPopup(popup_ac97c945dc424ea29cd98d43c004ffa0);

            
        
    

            var marker_09010d18549946bc97f8cb41aefb60cb = L.marker(
                [51.8255128,9.018576],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_3567193a3f4a4f9e81e4be91b25c6e26);
            
    

                var custom_icon_1f1654108c2b4e17a17b3dbb02d39fc8 = L.icon({
                    iconUrl: 'http://pbs.twimg.com/profile_images/826578156849074177/VPb4WgnY_normal.jpg',
                    iconSize: [28,30],
                    

                    
                    
                    

                    
                    });
                marker_09010d18549946bc97f8cb41aefb60cb.setIcon(custom_icon_1f1654108c2b4e17a17b3dbb02d39fc8);
            
    
            var popup_7b0eb3c453d44b9192218668a668e979 = L.popup({maxWidth: '300'});

            
                var html_46e19ed524d149edb7566990d3f9c807 = $('<div id="html_46e19ed524d149edb7566990d3f9c807" style="width: 100.0%; height: 100.0%;">Tom Holland</div>')[0];
                popup_7b0eb3c453d44b9192218668a668e979.setContent(html_46e19ed524d149edb7566990d3f9c807);
            

            marker_09010d18549946bc97f8cb41aefb60cb.bindPopup(popup_7b0eb3c453d44b9192218668a668e979);

            
        
</script>