<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <script>L_PREFER_CANVAS = false; L_NO_TOUCH = false; L_DISABLE_3D = false;</script>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.2.0/dist/leaflet.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.2.0/dist/leaflet.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css" />
    <link rel="stylesheet" href="https://rawgit.com/python-visualization/folium/master/folium/templates/leaflet.awesome.rotate.css" />
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    
            <style> #map_ea94bb623dba443cbcecb850c515ff46 {
                position : relative;
                width : 100.0%;
                height: 100.0%;
                left: 0.0%;
                top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_ea94bb623dba443cbcecb850c515ff46" ></div>
        
</body>
<script>    
    

            
                var bounds = null;
            

            var map_ea94bb623dba443cbcecb850c515ff46 = L.map(
                                  'map_ea94bb623dba443cbcecb850c515ff46',
                                  {center: [0,0],
                                  zoom: 1,
                                  maxBounds: bounds,
                                  layers: [],
                                  worldCopyJump: false,
                                  crs: L.CRS.EPSG3857
                                 });
            
        
    
            var tile_layer_3066ac34d6e1437eb701cda6a2c3f095 = L.tileLayer(
                'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png',
                {
  "attribution": null,
  "detectRetina": false,
  "maxZoom": 18,
  "minZoom": 1,
  "noWrap": false,
  "subdomains": "abc"
}
                ).addTo(map_ea94bb623dba443cbcecb850c515ff46);
        
    

            var marker_8e655116a20447f581354698eeda9265 = L.marker(
                [36.7014631,-118.7559974],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_ea94bb623dba443cbcecb850c515ff46);
            
    

                var icon_1538010caf864c249c0ccb248f5007a1 = L.AwesomeMarkers.icon({
                    icon: 'info-sign',
                    iconColor: 'white',
                    markerColor: 'blue',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_8e655116a20447f581354698eeda9265.setIcon(icon_1538010caf864c249c0ccb248f5007a1);
            
    
            var popup_ff14643522a64e8bae754e0b6f4de42d = L.popup({maxWidth: '300'});

            
                var html_31b2072892714351b5df3eb694b46c1a = $('<div id="html_31b2072892714351b5df3eb694b46c1a" style="width: 100.0%; height: 100.0%;">30th Space Wing California, USA http://pbs.twimg.com/profile_images/1664708490/twitter_logo_2_normal.jpg</div>')[0];
                popup_ff14643522a64e8bae754e0b6f4de42d.setContent(html_31b2072892714351b5df3eb694b46c1a);
            

            marker_8e655116a20447f581354698eeda9265.bindPopup(popup_ff14643522a64e8bae754e0b6f4de42d);

            
        
    

            var marker_7da9dc33a26e4430857e3474241010b6 = L.marker(
                [53.4573434,-2.2269899402176],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_ea94bb623dba443cbcecb850c515ff46);
            
    

                var icon_9ab87319e1984b0bb45bfc48b589e003 = L.AwesomeMarkers.icon({
                    icon: 'info-sign',
                    iconColor: 'white',
                    markerColor: 'blue',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_7da9dc33a26e4430857e3474241010b6.setIcon(icon_9ab87319e1984b0bb45bfc48b589e003);
            
    
            var popup_56f0c8b73f774f299145cf79db83fc93 = L.popup({maxWidth: '300'});

            
                var html_93b9c219cd7a41eeb9702b65ee96ffcb = $('<div id="html_93b9c219cd7a41eeb9702b65ee96ffcb" style="width: 100.0%; height: 100.0%;">Inmarsat Worldwide http://pbs.twimg.com/profile_images/443040188676055040/q2ysa3ng_normal.png</div>')[0];
                popup_56f0c8b73f774f299145cf79db83fc93.setContent(html_93b9c219cd7a41eeb9702b65ee96ffcb);
            

            marker_7da9dc33a26e4430857e3474241010b6.bindPopup(popup_56f0c8b73f774f299145cf79db83fc93);

            
        
    

            var marker_1b204119d8de47c59f7bdf349425b577 = L.marker(
                [38.8943792,-77.4305118],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_ea94bb623dba443cbcecb850c515ff46);
            
    

                var icon_203cdff73af34075b610d16cec091e30 = L.AwesomeMarkers.icon({
                    icon: 'info-sign',
                    iconColor: 'white',
                    markerColor: 'blue',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_1b204119d8de47c59f7bdf349425b577.setIcon(icon_203cdff73af34075b610d16cec091e30);
            
    
            var popup_1456fe9adfaf4950949c143f8feceb76 = L.popup({maxWidth: '300'});

            
                var html_0bd7f1c262c64ab194c691ed70aa7187 = $('<div id="html_0bd7f1c262c64ab194c691ed70aa7187" style="width: 100.0%; height: 100.0%;">NRO Chantilly, Virginia http://pbs.twimg.com/profile_images/515546284506107904/TICEL24x_normal.png</div>')[0];
                popup_1456fe9adfaf4950949c143f8feceb76.setContent(html_0bd7f1c262c64ab194c691ed70aa7187);
            

            marker_1b204119d8de47c59f7bdf349425b577.bindPopup(popup_1456fe9adfaf4950949c143f8feceb76);

            
        
    

            var marker_94746d5555864ec4ada5085f54743294 = L.marker(
                [38.8949549,-77.0366456],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_ea94bb623dba443cbcecb850c515ff46);
            
    

                var icon_71abc7ee0ad4422c8c21bc30be2aa4ae = L.AwesomeMarkers.icon({
                    icon: 'info-sign',
                    iconColor: 'white',
                    markerColor: 'blue',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_94746d5555864ec4ada5085f54743294.setIcon(icon_71abc7ee0ad4422c8c21bc30be2aa4ae);
            
    
            var popup_5a202363ee9f4a1d91e37d87d9d3035e = L.popup({maxWidth: '300'});

            
                var html_87282d823b66432e8328d212224a3013 = $('<div id="html_87282d823b66432e8328d212224a3013" style="width: 100.0%; height: 100.0%;">Matt Desch Washington, DC http://pbs.twimg.com/profile_images/3674581079/20d6dfb848d065b7220352a7ce8afe22_normal.jpeg</div>')[0];
                popup_5a202363ee9f4a1d91e37d87d9d3035e.setContent(html_87282d823b66432e8328d212224a3013);
            

            marker_94746d5555864ec4ada5085f54743294.bindPopup(popup_5a202363ee9f4a1d91e37d87d9d3035e);

            
        
</script>