<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>followers map</title>
    <style>
        input[type=text] {
    width: 15%;
    padding: 12px 15px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px dark-blue;
    border-radius: 4px;
    }
    button {
    background-color: white;
    border: 2px;
    color: black;
    padding: 10px 12px;
    border-radius: 8px;
    margin: 4px 2px;
    cursor: pointer;
    margin-left: 75px;
    }
    form {
    margin-top: 200px;
    margin-bottom: 100px;
    margin-left: 500px;
    }

    </style>

</head>

<body background="twitter-01200.jpg">

<form action="/Followers" method="post">
      <div>
        <label for="account">Twitter account:</label>
        <input type="text" id="account" name="account">
    </div>
    <div class="button">
  <button type="submit">Submit</button>
    </div>
</form>


</body>
</html>
